@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>

    <link href="~/Eshopper/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Eshopper/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Eshopper/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Eshopper/css/price-range.css" rel="stylesheet">
    <link href="~/Eshopper/css/animate.css" rel="stylesheet">
    <link href="~/Eshopper/css/main.css" rel="stylesheet">
    <link href="~/Eshopper/css/main.css" rel="stylesheet">
    <link href="~/Eshopper/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <!--[if lt IE 9]>
       <script src="js/html5shiv.js"></script>
       <script src="js/respond.min.js"></script>
       <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Eshopper/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Eshopper/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Eshopper/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Eshopper/images/ico/apple-touch-icon-57-precomposed.png">



    <script src="~/Eshopper/js/jquery.js"></script>
    <script src="~/Eshopper/js/bootstrap.min.js"></script>
    <script src="~/Eshopper/js/jquery.scrollUp.min.js"></script>
    <script src="~/Eshopper/js/price-range.js"></script>
    <script src="~/Eshopper/js/jquery.prettyPhoto.js"></script>
    <script src="~/Eshopper/js/main.js"></script>
    @RenderSection("Styles", required: false)



</head><!--/head-->

<body >
    <header id="header">
        <!--header-->
            <!--header_top-->
            <div class="container">
                <div class="header_top">
                    <div class="row">
                        <div class="col-6">
                            <div class="contactinfo">
                                <ul class="nav nav-pills text-black-50" style="        margin-left: 30px">
                                    <li><a href="#"><i class="fa fa-phone"></i> +947 67 240 549</a></li>
                                    <li><a href="#"><i class="fa fa-envelope"></i> Laundry@email.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="btn-group clearfix">
                                <div class="companyinfo"  style="margin:0%">
                                    <h2><span>BUDGET</span>- Laundry</h2>
                                </div>

         
                        </div>
                    </div>
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav nav-pills">

                                <li><a asp-action="CusOrders" asp-controller="Presentation"><i class="fa fa-star"></i> Orders</a></li>
                                <li><a asp-action="Checkout" asp-controller="Presentation"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                                <li><a asp-action="Cart" asp-controller="Presentation"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                @if (HttpContextAccessor.HttpContext.Session.GetString("SessionCusEmail") != "")
                                {
                                    <li><a asp-action="CustomerInfo" asp-controller="CustomerLogin" asp-route-id="@HttpContextAccessor.HttpContext.Session.GetString("SessionCusID")"><i class="fa fa-user"></i> @HttpContextAccessor.HttpContext.Session.GetString("SessionCusEmail")</a></li>
                                    <li><a asp-action="Login" asp-controller="CustomerLogin"><i class="fa fa-lock"></i> Logout</a></li>
                                }
                                else
                                {
                                    <li><a asp-action="Login" asp-controller="CustomerLogin"><i class="fa fa-user"></i> Account</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a asp-action="Index" asp-controller="Presentation" class="active">Home</a></li>
                                <li class="dropdown">
                                    <a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="#">Products</a></li>
                                        <li><a href="#">Product Details</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <li><a href="#">Cart</a></li>
                                        <li><a href="#">Login</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->

    @RenderBody()

    @* Footer *@
    <footer id="footer">
        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>BUDGET</span>- Laundry</h2>
                        </div>
                    </div>

                    <div class="col-sm-10">
                        
                    </div>


                </div>
            </div>
        </div>


        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="pull-left">Copyright © 2021 BUDGET - Laundry Inc. All rights reserved.</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="breadcrumbs pull-right">
                            <ol class="breadcrumb"  style="margin:0%">
                                <li class="">Employee</li>&nbsp;
                                <li><a asp-action="Login" asp-controller="EmployeeIdentity">Employee</a></li>

                            </ol>
                        </div><!--/breadcrums-->
                    </div>
                   
                </div>
            </div>
        </div>

    </footer><!--/Footer-->

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>
