@model IEnumerable<LaundryMS_AD2.Models.PrTypeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="IndexTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrTypeDescr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrTypeStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PrType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrTypeDescr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrTypeStatus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PrTypeID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PrTypeID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PrTypeID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>

        $(document).ready(function () {
            $("#IndexTable").DataTable();
        });
    </script>
}