@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<LaundryMS_AD2.Models.UserModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Manage Employee-User</h1>

<h5>Manage Employee Information</h5>

<div class="card">
    <div class="card-header">

        <div class="row">

            @if (@HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") == "Manager" || @HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") == "Admin")
            {
                <div class="col">
                    <a class="btn btn-primary" asp-action="Create">Create New</a>
                </div>
                <div class="col">
                    <div class="btn-group ">
                        <a asp-action="EmployeeReport" asp-route-data="Active" target="_blank" class="btn btn-md btn-grey"><i class="fa fa-2x fa-file"></i><br />Active Employee Report</a>|
                        <a asp-action="EmployeeReport" asp-route-data="Inactive" target="_blank" class="btn btn-md btn-grey"><i class="fa fa-2x fa-file"></i><br />Inactive Employee Report</a>|
                        <a asp-action="EmployeeReport" target="_blank" class="btn btn-md btn-grey"><i class="fa fa-2x fa-file"></i><br />All Employee Details Report</a>
                    </div>
                </div>


            }
        </div>

    </div>

    <!-- /.card-header -->
    <div class="card-body">

        <table id="UserTable" class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.lName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DoB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NIC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contact)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.lName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DoB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NIC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <div class="btn-group">
                                <a asp-action="Edit" asp-route-id="@item.UserID" class="btn btn-dark btn-md"><i class="fas fa-edit"></i></a> |
                                <a asp-action="Details" asp-route-id="@item.UserID" class="btn btn-info btn-md"><i class="fas fa-eye"></i></a>


                                @if (@HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") == "Manager" || @HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") == "Admin")
                                {
                                    <a asp-action="Delete" asp-route-id="@item.UserID" class="btn btn-danger btn-md"><i class="fas fa-trash"></i></a>
                                }




                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
@section Scripts{
    <script>

        $(document).ready(function () {
            $("#UserTable").DataTable();
        });
                //function UserReport() {
                //    var id = id;
                //    window.open(
                //        //asp - controller="User" asp - action="UserReport"
                //        "User/UserReportIndividual", "_blank", id);
                //}
    </script>
}
