@model LaundryMS_AD2.Models.OrderModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OrderModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderCusID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderCusID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderApprvdBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderApprvdBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTotQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTotQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTotAmnt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTotAmnt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDelivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDelivery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDeliveryAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDeliveryAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDescr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDescr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
