@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<LaundryMS_AD2.Models.OrderListModel>
@{ Layout = "~/Views/Shared/_Presentation_Layout.cshtml"; }

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Check out</li>
            </ol>
        </div><!--/breadcrums-->




        @if (@HttpContextAccessor.HttpContext.Session.GetString("SessionCusEmail") != "")
        {
            <div class="step-one">
                <h2 class="heading">Ordering Process</h2>
            </div>
            <form asp-action="PlaceOrder" id="placeorder" name="PlaceOrder" method="post">
                <div class="shopper-informations">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="bill-to">
                                <p>&nbsp; Bill To</p>
                                <br />
                                <div class="shopper-info">

                                    <div class="container-fluid" style="margin:10px;margin-top:0px">
                                        <div class="row">
                                            <div class="form-group">

                                                <div class="col-sm-4" style="margin-top:6px">
                                                    <label class="form-control-label">&nbsp;Customer ID</label>
                                                </div>

                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" value="@ViewBag.CusID" name="OrderCusID" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid" style="margin:10px">
                                        <div class="row">
                                            <div class="form-group">

                                                <div class="col-sm-4" style="margin-top:6px">
                                                    <label class="">&nbsp;Customer Name</label>
                                                </div>

                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" value="@ViewBag.CusName" name="OrderCusName" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid" style="margin:10px">
                                        <div class="row">
                                            <div class="form-group">

                                                <div class="col-sm-4" style="margin-top:6px">
                                                    <label class="form-control-label">&nbsp;Customer Email</label>
                                                </div>

                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" value="@ViewBag.CusEmail" name="OrderCusEmail" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid" style="margin:10px">
                                        <div class="row">
                                            <div class="form-group">

                                                <div class="col-sm-4" style="margin-top:6px">
                                                    <label class="form-control-label">&nbsp;Customer Address</label>
                                                </div>

                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" value="@ViewBag.CusAddress" name="OrderDeliveryAddress" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid" style="margin:10px">
                                        <div class="row">
                                            <div class="form-group">

                                                <div class="col-sm-4" style="        margin-top: 6px">
                                                    <label class="form-control-label">&nbsp;Customer Contact No.</label>
                                                </div>

                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" value="@ViewBag.CusPhone" name="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br /><br /> <hr />
                                    <div class="container-fluid" style="margin:10px">
                                        <div class="row">
                                            <div class="form-group">

                                                <div class="col-sm-4" style="margin-top:6px">
                                                    <label class="form-control-label">&nbsp;Order Date</label>
                                                </div>

                                                <div class="col-sm-8">
                                                    <input type="date" class="form-control" value="@ViewBag.OrdDate" name="OrderDate" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid" style="margin:10px">
                                        <div class="row">
                                            <div class="form-group">

                                                <div class="col-sm-4" style="margin-top:6px">
                                                    <label class="form-control-label">&nbsp;Delivery Date</label>
                                                </div>

                                                <div class="col-sm-8">
                                                    <input type="date" class="form-control" value="@ViewBag.DelDate" name="OrderDelivery" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br /> <br />

                                    <input type="text" name="OrderRefNo" placeholder="Phone *" value="@ViewBag.OrdRefID" hidden>
                                    <input type="text" name="OrderTotQty" placeholder="Phone *" value="@Model.Sum(i=>i.OrdPrQty)" hidden>
                                    <input type="text" name="OrderTotAmnt" placeholder="Phone *" value="@Model.Sum(i=>i.OrdPrAmnt)" hidden>
                                    <input type="text" name="OrderID" placeholder="Phone *" value="@ViewBag.OrdNewID" hidden>
                                    <input type="text" name="OrderPaymentStatus" placeholder="Phone *" value="Cash On Delivery" hidden>

                                    @*<input type="text" name="OrdRefID" placeholder="Phone *" value="@ViewBag.OrdRefID" hidden>
                                    <input type="text" name="OrdTotQty" placeholder="Phone *" value="@Model.Sum(i=>i.OrdPrQty)" hidden>
                                    <input type="text" name="OrdTotAmnt" placeholder="Phone *" value="@Model.Sum(i=>i.OrdPrAmnt)" hidden>*@
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="order-message">
                                <p>Shipping Order</p>
                                <textarea name="OrderDecr" placeholder="Notes about your order, Special Notes for Delivery" rows="16"></textarea>
                                <label><input type="checkbox"> Shipping to bill address</label>
                            </div>
                        </div>
                    </div>
                    <hr />

                </div>
            </form>

            <div class="review-payment">
                <h2>&nbsp;Review Cart</h2>
            </div>
            @if (!Model.Any())
            {
                <div class="step-one">
                    <h2 class="heading">Nothing Added to Carts</h2>
                </div>
                <div class="row mt-1">
                    <div class="text-right">
                        <a asp-action="Index" asp-controller="Presentation" class="btn btn-block btn-primary btn-lg" data-slide="next">
                            <i class="fa fa-lock-open">Home</i>
                        </a>
                    </div>
                </div>
            }
            else
            {

                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Item</td>
                                <td class="description"></td>
                                <td class="price">Price</td>
                                <td class="quantity">Quantity</td>
                                <td class="total">Total</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="cart_product">
                                        <a href=""><img src="images/cart/one.png" alt=""></a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="">@item.OrdPrID</a></h4>
                                        <p>Product ID: @item.OrdPrID</p>
                                    </td>
                                    <td class="cart_price">
                                        <p id="Price">@item.OrdPkgUP</p>
                                    </td>
                                    <td class="cart_quantity">

                                        <p> @item.OrdPrQty</p>

                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">@item.OrdPrAmnt</p>
                                    </td>
                                    <td class="cart_delete">
                                        <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4">&nbsp;</td>
                                <td colspan="2">
                                    <table class="table table-condensed total-result">
                                        <tr>
                                            <td>Cart Sub Total</td>
                                            <td>@Model.Sum(i => i.OrdPrAmnt)</td>
                                        </tr>
                                        <tr class="shipping-cost">
                                            <td>Delivery Cost</td>
                                            <td>0000.00</td>
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td><span>@Model.Sum(i => i.OrdPrAmnt)</span></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <hr />
                <div class="review-payment">
                    <h2>&nbsp;Review & Payment</h2>
                </div>
                <div class="shopper-informations">
                    <div class="row">
                        <div class="col-sm">
                            <div class="bill-to">
                                <div class="shopper-info">
                                    <br />

                                    <div class="col-sm-3">
                                        <div class="shopper-info">
                                            <form>
                                                <p style="font-size:medium;margin-left:4%"> Delivery option</p>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="shopper-info">
                                            <form>
                                                <input type="text" placeholder="Customer ID" class="input" value="Cash on Delivery" readonly>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <p style="margin-left:2%">
                                            <i class="fa fa-check m-2"></i>
                                        </p>


                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                    <hr />
                </div>
                <div class="container">
                    <div class="row">

                        <div class="col-xl">
                            <button class="btn btn-block btn-primary" type="button" onclick="submit(this)">Submit</button>
                            <a class="btn btn-block btn-primary" asp-action="">Cancel</a>
                        </div>
                    </div>
                </div>

            }

        }
        else
        { <div class="heading">
                <h2 class="heading">Ordering Process</h2>
            </div>
            <div class="step-one">
                <h2 class="heading">Please Login To Place an Order</h2>
            </div>
            <div class="row mt-1">
                <div class="text-right">
                    <a asp-action="Login" asp-controller="CustomerLogin" class="btn btn-block btn-primary btn-lg" data-slide="next">
                        <i class="fa fa-lock-open">Login</i>
                    </a>
                </div>
            </div>
        }

    </div>
</section> <!--/#cart_items-->
<br />
<br />
<br />
<br />
<br />
<br />

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free E-Commerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/girl1.jpg" class="girl img-responsive" alt="" />
                                <img src="images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>100% Responsive Design</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/girl2.jpg" class="girl img-responsive" alt="" />
                                <img src="images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free Ecommerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/home/girl3.jpg" class="girl img-responsive" alt="" />
                                <img src="images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

<script>

    function CalTot() {
        var UP = $(this).data('price')
        var OrdID = $(this).data('OrdID')
        alert(UP)
    }
    function submit() {
        $("#placeorder").submit()
        //document.getElement('placeorder').submit();
    }
</script>