@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<LaundryMS_AD2.Models.OrderModel>
@{
    Layout = "~/Views/Shared/_Presentation_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/plugins/MDB/css/mdb.min.css">

}
<br />
<hr />
<div class="container" style="min-height:50%">
    <div class="row">
        <div class="col">

            @if (@HttpContextAccessor.HttpContext.Session.GetString("SessionCusEmail") != "")
            {
                @if (!Model.Any())
                {
                    <div class="step-one">
                        <h2 class="heading">No Orders Placed Yet</h2>
                    </div>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <div class="row ">
                            <div class="col-md-4">
                                <div class="step-one">
                                    <h2 class="heading">Order Status</h2>
                                </div>
                                <!-- Stepers Wrapper -->
                                <ul class="stepper stepper-vertical" style="padding-top:0">

                                    <!-- First Step -->

                                    @if (item.OrderStatus == "Order Placed")
                                    {
                                    <li class="completed">
                                        <a href="#!">
                                            <span class="circle">1</span>
                                            <span class="label">Order Placed</span>
                                        </a>

                                    </li>
                                        <li class="info">

                                            <!--Section Title -->
                                            <a href="#!">
                                                <span class="circle">2</span>
                                                <span class="label">Process Order</span>
                                            </a>

                                            <!-- Section Description -->
                                            <div class="step-content grey lighten-3">
                                                <p>
                                                    Waiting Process Order.
                                                </p>
                                            </div>
                                        </li>

                                        <li class="info">
                                            <a href="#!">
                                                <span class="circle">3</span>
                                                <span class="label">Dispatch for Delivery</span>
                                            </a>
                                        </li>

                                        <li class="info">
                                            <a href="#!">
                                                <span class="circle">4</span>
                                                <span class="label">Delivery</span>
                                            </a>
                                        </li>


                                    }
                                    
                                    @if (item.OrderStatus == "Order Accepted")
                                    {
                                <li class="completed">
                                    <a href="#!">
                                        <span class="circle">1</span>
                                        <span class="label">Order Accepted</span>
                                    </a>
                                    <div class="step-content grey lighten-3">
                                        <p>
                                            Order approved
                                        </p>
                                    </div>
                                </li>
                                        <li class="info">

                                            <!--Section Title -->
                                            <a href="#!">
                                                <span class="circle">2</span>
                                                <span class="label">Process Order</span>
                                            </a>

                                            <!-- Section Description -->
                                            <div class="step-content grey lighten-3">
                                                <p>
                                                    Waiting Process Order.
                                                </p>
                                            </div>
                                        </li>

                                        <li class="info">
                                            <a href="#!">
                                                <span class="circle">3</span>
                                                <span class="label">Dispatch for Delivery</span>
                                            </a>
                                        </li>

                                        <li class="info">
                                            <a href="#!">
                                                <span class="circle">4</span>
                                                <span class="label">Delivery</span>
                                            </a>
                                        </li>


                                    }




                                    @if (item.OrderStatus == "Order Processing")
                                    {
                                <li class="completed">
                                    <a href="#!">
                                        <span class="circle">1</span>
                                        <span class="label">Cart Accepted</span>
                                    </a>
                                    <div class="step-content grey lighten-3">
                                        <p>
                                            Order approved
                                        </p>
                                    </div>
                                </li>
                                        <li class="completed">

                                            <!--Section Title -->
                                            <a href="#">
                                                <span class="circle">2</span>
                                                <span class="label">Processing Order</span>
                                            </a>

                                            <!-- Section Description -->
                                            <div class="step-content grey lighten-3">
                                                <p>
                                                    Still processing your Order.
                                                </p>
                                            </div>
                                        </li>

                                        <li class="info">
                                            <a href="#!">
                                                <span class="circle">3</span>
                                                <span class="label">Dispatch for Delivery</span>
                                            </a>
                                        </li>

                                        <li class="info">
                                            <a href="#!">
                                                <span class="circle">4</span>
                                                <span class="label">Delivery</span>
                                            </a>
                                        </li>

                                    }

                                    @if (item.OrderStatus == "Ready For Delivery")
                                    {
                                <li class="completed">
                                    <a href="#!">
                                        <span class="circle">1</span>
                                        <span class="label">Cart Accepted</span>
                                    </a>
                                    <div class="step-content grey lighten-3">
                                        <p>
                                            Order approved
                                        </p>
                                    </div>
                                </li>
                                        <li class="completed">

                                            <!--Section Title -->
                                            <a href="#">
                                                <span class="circle">2</span>
                                                <span class="label">Processing Order</span>
                                            </a>

                                            <!-- Section Description -->
                                            <div class="step-content grey lighten-3">
                                                <p>
                                                    Still processing your Order.
                                                </p>
                                            </div>
                                        </li>

                                        <li class="completed">
                                            <a href="#!">
                                                <span class="circle">3</span>
                                                <span class="label">Sent for Delivery</span>
                                            </a>
                                        </li>

                                        <li class="info">
                                            <a href="#!">
                                                <span class="circle">4</span>
                                                <span class="label">Delivery</span>
                                            </a>
                                        </li>


                                    }

                                    @if (item.OrderStatus == "Ready To Deliver")
                                    {

                                <li class="completed">
                                    <a href="#!">
                                        <span class="circle">1</span>
                                        <span class="label">Cart Accepted</span>
                                    </a>
                                    <div class="step-content grey lighten-3">
                                        <p>
                                            Order approved
                                        </p>
                                    </div>
                                </li>
                                        <li class="completed">

                                            <!--Section Title -->
                                            <a href="#">
                                                <span class="circle">2</span>
                                                <span class="label">Processing Order</span>
                                            </a>

                                            <!-- Section Description -->
                                            <div class="step-content grey lighten-3">
                                                <p>
                                                    Still processing your Order.
                                                </p>
                                            </div>
                                        </li>

                                        <li class="completed">
                                            <a href="#!">
                                                <span class="circle">3</span>
                                                <span class="label">Sent for Delivery</span>
                                            </a>
                                        </li>

                                        <li class="info">
                                            <a href="#!">
                                                <span class="circle">4</span>
                                                <span class="label">Delivery</span>
                                            </a>
                                        </li>

                                    }


                                    @if (item.OrderStatus == "Delivered")
                                    {
                                <li class="completed">
                                    <a href="#!">
                                        <span class="circle">1</span>
                                        <span class="label">Cart Accepted</span>
                                    </a>
                                    <div class="step-content grey lighten-3">
                                        <p>
                                            Order approved
                                        </p>
                                    </div>
                                </li>
                                        <li class="completed">

                                            <!--Section Title -->
                                            <a href="#">
                                                <span class="circle">2</span>
                                                <span class="label">Processing Order</span>
                                            </a>

                                            <!-- Section Description -->
                                            <div class="step-content grey lighten-3">
                                                <p>
                                                    Still processing your Order.
                                                </p>
                                            </div>
                                        </li>

                                        <li class="completed">
                                            <a href="#!">
                                                <span class="circle">3</span>
                                                <span class="label">Sent for Delivery</span>
                                            </a>
                                        </li>

                                        <li class="completed">
                                            <a href="#!">
                                                <span class="circle">4</span>
                                                <span class="label">Delivered Successfully</span>
                                            </a>
                                        </li>

                                    }


                                </ul>
                                <!-- /.Stepers Wrapper -->

                            </div>
                            <div class="col-md-8">
                                <div class="step-one">
                                    <h2 class="heading">Order Details</h2>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Order ID</label>
                                    <input type="text" class="form-control" value="@item.OrderID" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Delivery Address</label>
                                    <input type="text" class="form-control" value="@item.OrderDeliveryAddress" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Toatl Price</label>
                                    <input type="text" class="form-control" value="@item.OrderTotAmnt" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Payment Status</label>
                                    <input type="text" class="form-control" value="@item.OrderPaymentStatus" readonly>
                                </div>
                            </div>
                        </div>
                    }



                }
                <div class="row mt-1">
                    <div class="text-right">
                        <a asp-action="Index" asp-controller="Presentation" class="btn btn-block btn-secondary btn-sm" data-slide="next">
                            <i class="fa fa-home">Home</i>
                        </a>
                    </div>
                </div>
            }
            else
            {
                <div class="step-one">
                    <h2 class="heading">Please Login To Place an Order</h2>
                </div>
                <div class="row mt-1">
                    <div class="text-right">
                        <a asp-action="Login" asp-controller="CustomerLogin" class="btn btn-block btn-primary btn-lg" data-slide="next">
                            <i class="fa fa-lock-open">Login</i>
                        </a>
                    </div>
                </div>
            }
            <!-- Vertical Steppers -->

            <br />
            <hr />
            <!-- Steppers Navigation -->
            <!-- /.Vertical Steppers -->
            <br /> <br /> <br />
        </div>
    </div>
</div>
<script>

</script>