@model LaundryMS_AD2.Models.OrderListModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Create</h1>

<h4>OrderListModel</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderRefID" class="control-label"></label>
                @*<input asp-for="OrderRefID" class="form-control" value="@ViewBag.ReferenceID" readonly />*@
                @Html.DropDownListFor(model => model.OrderRefID, ViewBag.ReferenceID as SelectList, "--Select a Package--", new { @class = "form-control" })

                <span asp-validation-for="OrderRefID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdPrID" class="control-label"></label>
                @Html.DropDownListFor(model => model.OrdPrID, ViewBag.OrdProducts as SelectList, "--Select a Product--", new { @class = "form-control" })
                <span asp-validation-for="OrdPrID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdPrQty" class="control-label"></label>
                <input asp-for="OrdPrQty" id="OrdQty" class="form-control" />
                <span asp-validation-for="OrdPrQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdPkg" class="control-label"></label>
                @Html.DropDownListFor(model => model.OrdPkg, ViewBag.OrdPkg as SelectList, "--Select a Package--", new { @class = "form-control" })
                <span asp-validation-for="OrdPkg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdPkgUP" class="control-label"></label>
                <input asp-for="OrdPkgUP" id="PkgUP" class="form-control" />
                <span asp-validation-for="OrdPkgUP" class="text-danger"></span>
            </div>
            <div class="col form-group">
                <div class="float-right">
                    <input type="button" value="Update" id="CalAmnt" class="btn btn-success" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="OrdPrAmnt" class="control-label"></label>
                <input asp-for="OrdPrAmnt" id="TotAmnt" class="form-control" />
                <span asp-validation-for="OrdPrAmnt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrdListStatus" class="control-label"></label>
                @*<input asp-for="OrderStatus" class="form-control" />*@
                <select asp-for="OrdListStatus" class="form-control">
                    <option value="">--Select Order Status--</option>
                    <option value="Added To Cart">Added To Cart</option>
                    <option value="Order Placed">Order Placed</option>
                    <option value="Ready To Deliver">Ready To Deliver</option>
                    <option value="Delivered">Delivered</option>
                </select>
                <span asp-validation-for="OrdListStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-75" src="https://www.pngkit.com/png/full/86-865631_bride-contemporary-western-wedding-dress-wedding-dress-vector.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-75" src="https://5.imimg.com/data5/UI/LB/GLADMIN-58307384/dry-cleaning-service-500x500.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-75" src="https://pngimg.com/uploads/suit/suit_PNG93239.png" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(document).ready(function () {
        $('#PkgUP').val("0");
        $('#OrdQty').val("0");
        $('#TotAmnt').val("0");

        $('#CalAmnt').click(function Calc() {
            CalTot();
        });


        function CalTot() {
            var PkgPrice = parseInt($('#PkgUP').val());
            var OrdQty = parseInt($('#OrdQty').val());

            if (PkgPrice.val === 0) {
                alert("Please Provide Package Price (Currently - 0)")
            }
            if (OrdQty.val === 0) {
                alert("Please Provide Order Quantity (Currently - 0)")
            }
            var NewTotAmnt = PkgPrice * OrdQty;
            $('#TotAmnt').val(NewTotAmnt.toString());
        }

        $('#OrdPkg').change(function Calc() {
            var PkgID = $('#OrdPkg').val();
            var PkgArray = @Html.Raw(Json.Serialize(ViewBag.PkgList));
            var SelectPkg;
            let Pkg = PkgArray.filter(function (e) {
                //return 
                SelectPkg = PkgArray.find(({ value }) => value === PkgID);
            });
            var PkgPrice = SelectPkg.text;
            $('#PkgUP').val(PkgPrice);

        });

    });
</script>
