@model LaundryMS_AD2.Models.OrderListModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OrderListModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderRefID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderRefID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdPrID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrdPrID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdPrQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrdPrQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdPkg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrdPkg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdPkgUP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrdPkgUP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdPrAmnt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrdPrAmnt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdListStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrdListStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrdListID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
