@model IEnumerable<LaundryMS_AD2.Models.OrderListModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="IndexTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderRefID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdPrID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdPkgUP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdPrQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdPrAmnt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdPkg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdListStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderRefID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdPrID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdPkgUP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdPrQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdPrAmnt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdPkg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdListStatus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrdListID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrdListID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrdListID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>

        $(document).ready(function () {
            $("#IndexTable").DataTable();
        });
    </script>
}