@model LaundryMS_AD2.Models.ProductModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrDescr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrDescr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PrID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
