@model IEnumerable<LaundryMS_AD2.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Products Management</h1>

<p>
    <a asp-action="Create">Add New Product</a>
</p>
<div class="card">
    <div class="card-body">
        <table id="IndexTable" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PrID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrDescr)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrStatus)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrDescr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrStatus)
                        </td>
                        <td>
                            <div class="btn-group">

                                <a asp-action="Edit" asp-route-id="@item.PrID" class="btn btn-dark btn-md"><i class="fas fa-edit"></i></a> |
                                <a asp-action="Details" asp-route-id="@item.PrID" class="btn btn-info btn-md"><i class="fas fa-eye"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.PrID" class="btn btn-danger btn-md"><i class="fas fa-trash"></i></a>
                            </div>
                         
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>

        $(document).ready(function () {
            $("#IndexTable").DataTable();
        });
    </script>
}