@model IEnumerable<LaundryMS_AD2.Models.CustomerModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card">

    @*@if (HttpContextAccessor.HttpContext.Session.GetString("SessionRole") == "Admin")
        {
            <div class="card-header">
                <a asp-action="Create" class="btn btn-info">Create New</a>
            </div>
        }
        else if (HttpContextAccessor.HttpContext.Session.GetString("SessionRole") == "Manager")
        {
            <div class="card-header">
                <a asp-action="Create" class="btn btn-info">Create New</a>
            </div>
        }*@


    <!-- /.card-header -->
    <div class="card-body">
        <table id="IndexTable" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CusID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusfName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CuslName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusNIC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusContact)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusStatus)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusfName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CuslName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusNIC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusContact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusStatus)
                        </td>
                        <td>
                            <div class="btn-group">

                                <a asp-action="Edit" asp-route-id="@item.CusID" class="btn btn-dark btn-md"><i class="fas fa-edit"></i></a> |
                                <a asp-action="Details" asp-route-id="@item.CusID" class="btn btn-info btn-md"><i class="fas fa-eye"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.CusID" class="btn btn-danger btn-md"><i class="fas fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
        @section Scripts{
            <script>

                $(document).ready(function () {
                    $("#IndexTable").DataTable();
                });
            </script>
        }
