@model IEnumerable<LaundryMS_AD2.Models.CustomerModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="IndexTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CusfName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuslName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CusNIC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CusAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CusContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CusEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CusPassw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CusStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CusfName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CuslName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusNIC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusContact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusPassw)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CusStatus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CusID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CusID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CusID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>

        $(document).ready(function () {
            $("#IndexTable").DataTable();
        });
    </script>
}