@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@model IEnumerable<LaundryMS_AD2.Models.CustomerModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LMSAdminLayout.cshtml";
}

<h1>Customer Information Management</h1>
<br />


<div class="card">
    <div class="card-header">

        <div class="row">
            <div class="col">
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            </div>
            @if (@HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") == "Manager" || @HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") == "Admin")
            {
                <div class="col">
                    <div class="btn-group ">
                        <a asp-action="CustomerReport" asp-route-data="Active" target="_blank" class="btn btn-md btn-grey"><i class="fa fa-2x fa-file"></i><br />Active Customer Report</a>|
                        <a asp-action="CustomerReport" asp-route-data="Inactive" target="_blank" class="btn btn-md btn-grey"><i class="fa fa-2x fa-file"></i><br />Inactive Customer Report</a>|
                        <a asp-action="CustomerReport" target="_blank" class="btn btn-md btn-grey"><i class="fa fa-2x fa-file"></i><br />All Customer Details Report</a>
                    </div>
                </div>


            }
        </div>

    </div>

    <!-- /.card-header -->
    <div class="card-body">
        <table id="IndexTable" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CusID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusfName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CuslName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusNIC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusContact)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CusStatus)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusfName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CuslName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusNIC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusContact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CusStatus)
                        </td>
                        <td>
                            <div class="btn-group">

                                <a asp-action="Edit" asp-route-id="@item.CusID" class="btn btn-dark btn-md"><i class="fas fa-edit"></i></a> |
                                <a asp-action="Details" asp-route-id="@item.CusID" class="btn btn-info btn-md"><i class="fas fa-eye"></i></a>
                                @if (@HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") == "Manager" || @HttpContextAccessor.HttpContext.Session.GetString("SessionEmpRole") == "Admin")
                                {
                                    <a asp-action="Delete" asp-route-id="@item.CusID" class="btn btn-danger btn-md"><i class="fas fa-trash"></i></a>

                                }

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>

        $(document).ready(function () {
            $("#IndexTable").DataTable();
        });
    </script>
}
